<h1>Listing retweets</h1>
<h2>All previous retweets:</h2>

<table id="tablestyle">
  <tr>
    <th>Tweetid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @retweets.each do |retweet| %>
  <tr>
    <td><%= retweet.tweetid %></td>
    <td><%= link_to 'Show', retweet %></td>
    <td><%= link_to 'Edit', edit_retweet_path(retweet) %></td>
    <td><%= link_to 'Destroy', retweet, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Retweet', new_retweet_path %> |
<a href="/">Back to the Title</a>
