<h1>Listing retweets</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Done</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @retweets.each do |retweet| %>
  <tr>
    <td><%= retweet.id %></td>
    <td><%= retweet.done %></td>
    <td><%= link_to 'Show', retweet %></td>
    <td><%= link_to 'Edit', edit_retweet_path(retweet) %></td>
    <td><%= link_to 'Destroy', retweet, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Retweet', new_retweet_path %>
