<p id="notice"><%= notice %></p>

<% tweet = Twitter.status(@retweet.tweetid) %>

<p>
  <b>Tweetid:</b>
  <%= tweet.id %>
</p>
<p>
  <b><%= tweet.from_user %>:</b>
  <%= tweet.text %>
</p>

<%= link_to 'Back', retweets_path %>
