<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @retweet.id %>
</p>

<p>
  <b>Done:</b>
  <%= @retweet.done %>
</p>


<%= link_to 'Edit', edit_retweet_path(@retweet) %> |
<%= link_to 'Back', retweets_path %>
