<p id="notice"><%= notice %></p>

<p>
  <b>Amount:</b>
  <%= @schedule.amount %>
</p>

<p>
  <b>Unit:</b>
  <%= @schedule.unit %>
</p>


<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
